.row#form-edit-user
  .col-2
  .col-8
    .pt-5
      = simple_form_for(user, defaults: { input_html: { data: { controller: "user", action: "debounced:input->user#update" } } }) do |f|
        - custom_message = ->(attribute_name) { f.object.errors.full_messages_for(attribute_name).to_sentence }

        .row
          .col-12.col-lg-6.mb-3.pt-2
            = f.input :first_name, class: 'form-control', error: custom_message.call(:first_name)

          .col-12.col-lg-6.mb-3.pt-2
            = f.input :last_name, class: 'form-control', error: custom_message.call(:last_name)

        .mb-2.pt-2
          = f.input :middle_name, class: 'form-control', error: custom_message.call(:middle_name)

        .row
          .col-12.col-lg-6.mb-3.pt-2
            = f.input :phone_number, class: 'form-control', error: custom_message.call(:phone_number)

          .col-12.col-lg-6.mb-3.pt-2
            = f.input :email, class: 'form-control', error: custom_message.call(:email)

        .mb-2.pt-2
          = f.input :social_security_number, class: 'form-control', error: custom_message.call(:social_security_number),
              input_html: { class: 'input-ssn' }

        .mb-2.pt-2
          = f.input :country, as: :select, required: false,
                collection: ['United States', 'Other'], include_blank: false,
                selected: f.object.country ? f.object.country : 'United States',
                input_html: { data: { controller: "user", action: "change->user#select_country" } } ,
                error: custom_message.call(:country)

        .mb-2.pt-2#other-country-input
          = f.input :other_country, class: 'form-control', error: custom_message.call(:other_country)


        .mb-2.pt-2
          = f.input :address, class: 'form-control', error: custom_message.call(:address)
        .row
          .col-12.col-lg-6.mb-3.pt-2
            = f.input :city, class: 'form-control', error: custom_message.call(:city)

          .col-12.col-lg-6.mb-3.pt-2
            = f.input :state, class: 'form-control', error: custom_message.call(:state)

        .mb-2.pt-2
          = f.input :zip_code, label: "Zip code", class: 'form-select', error: custom_message.call(:zip_code)


    .mb-2.text-end
      = link_to 'Back', root_path, class: 'button btn btn-primary'

:javascript
  document.addEventListener('DOMContentLoaded', function () {
    if (document.getElementById("user_country").value == "United States") {
      document.getElementById("other-country-input").classList.add("not-displayed")
    }
  });
